<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blob: plot densities directly in your browser</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-color@2.7.0/dist/vue-color.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/three@0.105.1/build/three.min.js"></script>
    <script src="js/three/OrbitControls.js"></script>

    <script src="js/threex/THREEx.KeyboardState.js"></script>
    <script src="js/threex/THREEx.FullScreen.js"></script>
    <script src="js/threex/THREEx.WindowResize.js"></script>
    <script src="js/threex/MarchingCubesData.js"></script>

    <script src="js/mesh.js"></script>
    <script src="js/parse.js"></script>
  </head>
  <body>
    <section class="section">
      <div id="app" v-cloak>
        <div class="container">

          <div class="row top-buffer">
            <div class="col-md-12">

              <div class="form-group">
                <span class="btn btn-primary btn-file">
                  cube file
                  <input type="file" class="form-control-file" id="cube_file" aria-describedby="file_help" @change="load_text_file">
                </span>

                <a href="https://github.com/densities/blob#how-to-try-it-out" target="_blank">demo</a> |
                <a data-toggle="modal" href="#modal_controls">controls</a> |
                <a href="https://github.com/densities/blob" target="_blank">sources</a> |
                <a href="https://github.com/densities/blob/blob/gh-pages/README.md" target="_blank">documentation</a> |
                <a href="https://github.com/densities/blob/issues" target="_blank">issues</a> |
                <a data-toggle="modal" href="#modal_privacy">privacy</a>

                <div v-if="message_info.length > 0">
                  <small id="file_help" class="form-text text-muted">{{ message_info }}</small>
                </div>
              </div>

            </div>
          </div> <!-- row -->

          <!-- controls -->
          <div class="modal fade" id="modal_controls" tabindex="-1" role="dialog" aria-labelledby="modal_label_controls" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal_label_controls">Controls/shortcuts</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table>
                    <tr>
                      <th scope="row">
                        Click and drag
                      </th>
                      <td>
                        Rotate
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Mouse wheel/ touchpad scroll
                      </th>
                      <td>
                        Zoom (like zooming on Google Maps)
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Arrow keys
                      </th>
                      <td>
                        Move the camera
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        x
                      </th>
                      <td>
                        Toggle full screen mode on/off
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end controls -->

          <!-- privacy -->
          <div class="modal fade" id="modal_privacy" tabindex="-1" role="dialog" aria-labelledby="modal_label_privacy" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal_label_privacy">Privacy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                    This app does not upload any data. The web server sends a static HTML and JavaScript
                    website to your browser, and from that moment on, there is no communication between
                    the browser and the web server.
                  </p>
                  <p>
                    The data and plots stay between you and the browser: they are only kept in memory client-side.
                    No data is sent to any place outside of your computer. In other words the web server
                    has no way of knowing what you are plotting.
                  </p>
                  <p>
                    If you are unsure about this, you can audit the
                    <a href="https://github.com/densities/blob" target="_blank">source code</a>.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end privacy -->

          <div class="row" v-if="data_is_loaded">

            <div class="col-2">
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="axes_checkbox" checked="" v-model="show_axes">
                  <label class="custom-control-label" for="axes_checkbox">axes</label>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="centers_checkbox" checked="" v-model="show_centers">
                  <label class="custom-control-label" for="centers_checkbox">centers</label>
                </div>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <input class="form-control form-control-sm"
                       type="text" placeholder=".form-control-sm" id="isovalue" v-model="isovalue">
                <label class="col-form-label col-form-label-sm" for="isovalue">isovalue</label>
              </div>
            </div>

            <div class="col">
              <div v-for="(n, i) in 2">
                <div v-if="show_meshes[i]">
                  <button class="btn btn-primary btn-sm"
                          v-on:click="toggle_color_picker(i)"
                          v-bind:style="{ background: colors[i].hex }">{{ colors[i].hex }}</button>
                  <chrome-picker v-show="color_picker_is_open[i]" v-model="colors[i]" ></chrome-picker>
                </div>
              </div>
            </div>

          </div> <!-- row -->

          <div class="row top-buffer">
            <div v-if="message_error.length > 0" class="alert alert-danger">
              {{ message_error }}
            </div>
          </div>

          <script src="js/app.js"></script>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </body>
</html>
