<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blob: plot densities directly in your browser</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/three@0.105.1/build/three.min.js"></script>
    <script src="js/three/OrbitControls.js"></script>

    <script src="js/threex/THREEx.KeyboardState.js"></script>
    <script src="js/threex/THREEx.FullScreen.js"></script>
    <script src="js/threex/THREEx.WindowResize.js"></script>
    <script src="js/threex/MarchingCubesData.js"></script>

    <script src="js/mesh.js"></script>
    <script src="js/parse.js"></script>
  </head>
  <body>
    <section class="section">
      <div id="app" v-cloak>
        <div class="container">

          <div class="row">
            <p>
              <strong>blob</strong>: plot densities directly in your browser.
              The <a href="https://github.com/densities/blob">source code</a> is licensed under
              <a href="https://github.com/densities/blob/blob/gh-pages/LICENSE">AGPL</a>.
              Contributions to this project are welcome.
            </p>
          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <input type="file" class="form-control-file" id="cube_file" aria-describedby="file_help" @change="load_text_file">
                <div v-if="message_info.length > 0">
                  <small id="file_help" class="form-text text-muted">{{ message_info }}</small>
                </div>
              </div>
            </div>

            <div class="col-md-1" v-if="data_is_loaded">
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="axes_checkbox" checked="" v-model="show_axes">
                  <label class="custom-control-label" for="axes_checkbox">axes</label>
                </div>
              </div>
            </div>

            <div class="col-md-1" v-if="data_is_loaded">
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="centers_checkbox" checked="" v-model="show_centers">
                  <label class="custom-control-label" for="centers_checkbox">centers</label>
                </div>
              </div>
            </div>

            <div class="col-md-2" v-if="data_is_loaded">
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="isovalue" v-model="isovalue">
                <label class="col-form-label col-form-label-sm" for="isovalue">isovalue</label>
              </div>
            </div>

            <div class="col-md-1" v-if="data_is_loaded">
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="color" v-model="color">
                <label class="col-form-label col-form-label-sm" for="color">color</label>
              </div>
            </div>

            <div class="col-md-1" v-if="data_is_loaded">
              <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="opacity" v-model="opacity">
                <label class="col-form-label col-form-label-sm" for="opacity">opacity</label>
              </div>
            </div>

          </div>

          <div class="row top-buffer">
            <div v-if="message_error.length > 0" class="alert alert-danger">
              {{ message_error }}
            </div>
          </div>

          <script src="js/app.js"></script>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </body>
</html>
